table.dataTable tr.odd{
  background-color:#b9d1c4;
  ;
}

table.dataTable tr.even{
  background-color:#cce4d7;
  ;
}

table.dataTable thead th {
      background-color: #015a71 !important;
      color: white !important;
    }
.quarto-title-block .quarto-title-banner {
  background-image: url(ETDDLogo.svg);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}
/*
table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
table.dataTable tr.even{ background-color: white; border:1px lightgrey; }
*/
